*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'League Spartan', sans-serif;
}

.navbar{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-bottom: 1px black solid;
    background-color: #F4F2F0;
    position: fixed;
    top: 0;
}

.navbar img{
    margin-top: 100px;
}

.navbar a{
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.personalize{
    margin-top: 15vh;
    height: 85vh;
}

#shirt-selection h1{
    font-size: 30px;
}

#shirt-selection h2{
    font-size: 26px;
}

#shirt-selection h3{
    font-size: 24px;
}

#shirt-preview{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#shirt-preview img{
    width: 75%;
    height: auto;
}

#shirt-selection{
    width: 60%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}

#selecciona-tu-conchudo, #selecciona-tu-talla, #selecciona-tu-color{
    margin: 10px 0;
}

#selecciona-tu-conchudo img{
    width: 50px;
    height: 50px;
    border: #000000 1px solid;
    border-radius: 50%;
}



#selecciona-tu-talla label{
    width: 70px;
}

#selecciona-tu-color label{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
    border: #000000 1px solid;
}

#color-blanco + label{
    background: #FFFFFF;
}

#color-beige + label{
    background-color: #CFB298;
}

#color-negro + label{
    background-color: #000000;
}

#selecciona-tu-color input:checked + label{
    border: 4px solid lightsalmon;
}

#comprar-ahora{
    width: 220px;
    height: 60px;
    background-color: #CFB298;
    font-size: 22px;
    border: none;
    border-radius: 30px;
    margin: 10px 0;
}

#comprar-ahora:hover{
    background-color: #f2dac4;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-text{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-text a{
    color: #000000;
    text-decoration: none;
}


/*
@keyframes shrink {
    from{
        margin-top: 100px;
        scale: 100%;
    }

    to {
        margin-top: 25px;
        scale: 50%;
    }

}

#nav-logo {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: shrink;
    animation-range: cover 50%;
    animation-fill-mode: both;
}
*/
  
